@import "../../var";
.nav-list {
  display: flex;
  justify-content: space-between;

  font-weight: 600;
  .nav-list__drop {
    padding: 10px;
    position: absolute;
    background-color: white;
    font-size: 12px;
    width: 100%;
    box-shadow: $box-show-header;
    display: none;
  }

  .nav-list__item {
    position: relative;
    line-height: 30px;
    cursor: pointer;

    i {
      margin-left: 5px;
    }
    a {
      display: block;
      text-align: center;
    }

    &:hover {
      .nav-list__drop {
        display: block;
        li:hover {
          background-color: $third-color;
          ul {
            display: block;
            top: 0;
            right: 0;
            transform: translate(100%, -20%);
          }
        }
        ul {
          display: none;
        }
      }
    }
  }
}
