.category-title {
  text-align: center;
  background-color: white;
  color: black;
}

.nav-item a {
  background-color: #eee;
  color: darkslateblue;
  padding: 12px;
  text-decoration: none;
  font-size: 1em;
}

.nav-active {
  color: #0c2163;
  font-weight: bold;
}
