@import "../../var";

.product-card {
  flex-basis: 10%;
  box-shadow: $box-shadow;
  border-radius: 10px;
  .product-card__image img {
    width: 300px;
    height: 300px;
    object-fit: fill;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .product-card__details {
    padding-left: 10px;
    padding-right: 10px;
  }
  h4 {
    margin-bottom: 5px;
  }
  p {
    line-height: 1.5rem;
    margin-bottom: 5px;
  }

  .product-card__price {
    display: flex;
    align-items: center;

    h4 {
      padding-right: 0.5rem;
      color: mediumseagreen;
    }
    span {
      color: darkorchid;
      font-size: 1rem;
      font-weight: 800;
      padding-bottom: 5px;
    }
  }
}
