@import "../../var";

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $fifth-color;

  &__left {
    padding-left: 10px;
    cursor: pointer;

    img {
      width: 80px;
      height: 80px;
    }
  }
  &__center {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      flex-basis: 60%;
    }
  }
  &__right {
    background-color: blanchedalmond;
  }
}
