$primary-color: #30c5ff;
$secondary-color: #bbdb9b;
$first-color: #274c77;
$third-color: #f4cbc6;
$fourth-color: #f9b9f2;
$fifth-color: #eae8ff;
$sizth-color: gold;
$box-show-header: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
$box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
  rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
  rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
