@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import "var";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "sans-serif";
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 5px 20px;
}

.text {
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid $secondary-color;
  max-width: 100%;
  outline: none;
}

.form-control {
  height: 45px;
  width: 100%;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.form-group {
  display: flex;
}

.btn {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: $first-color;
  color: #faf8f2;
  font-size: 15px;
  font-weight: 500;
}

.btn-pill {
  border-radius: 5px;
}
.checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
